* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-position: center top;
  width: 100%;
}

body {
  font-family: '微软雅黑' Microsoft YaHei, Arial, serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  min-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

iframe body {
/*   height: 100%;
  width: 100%; */
}

#iframeDiv {
/* 	height: 100%; */
}

#content-wrapper {background-color: #FFFFFF;float: left;margin-top: 10px;width: 100%;}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

a:HOVER {
  text-decoration: underline;
}

.display {display: none;}

/**
  * 标题
  */
.title {font-size: 14px;height: 30px;line-height: 30px;background-color: #0E1C2B;padding-left: 10px;color: #FFF;}
.title p {
  display: inline-block;
  text-indent: 2em;
  font-size: 13px;
  line-height: 13px;
  color: #116DCA;
}
.title div {float: right;line-height: 30px;margin-right: 10px;}

/**
  * 段落
  */
.p {text-indent: 2em;line-height: 20px;display: inline;}
/**
 * 网页宽度
 */
.w1000{width: 1000px;}
