@IMPORT url("base.css");

#address {
  text-indent: 2em;
  line-height: 20px;
}

#address div {
  line-height: 35px;
}

#address p {
  font-weight:normal;
  display: inline-block;
  text-indent: 2em;
}

#link {
  text-indent: 2em;
  margin-bottom: 20px;
}

#link p {
  font-weight:normal;
  display: inline-block;
  text-indent: 2em;
}
