@IMPORT url("base.css");
#addressLink{width: 100%;float: left;}
#address {line-height: 20px;width: 75%;float: left;}
#addressinfo{margin-top: 10px;}
#address p {padding-left:10px;width: 100%;font-size: 13px;}
#link {margin-bottom: 20px;width: 20%;float: right;}
#linkinfo{margin-top: 10px;}
#linkinfo ul li {margin-left: 20px;}
#allmap{width: 100%;float: left;height: 400px;margin-top: 10px;}