@IMPORT url("base.css");
#content-wrapper {background-color: #FFFFFF;float: left;}
#content-imgs {float: left;width:1000px;height:300px;overflow:hidden;position:relative;}
#content-imgs img {border:0;width: 1000px;height: 300px;}
#content-imgs ul{width: 100%;height: 100%;position:absolute;}
#content-imgs ul li{float:left;width: 1000px;height: 300px;overflow:hidden;position:relative;background:#000;}
#content-imgs ul li div{position:absolute;overflow:hidden;}
#content-imgs .btnBg{position:absolute;width:1000px;height:20px;left:0;bottom:0;background:#000;}
#content-imgs .btn{position:absolute;width:780px;height:10px;padding:5px 10px;right:0;bottom:0;text-align:right;}
#content-imgs .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
#content-imgs .btn span.on{background:#fff;}
#content-imgs .pre{left:0;}
#content-imgs .next{right:0;background-position:right top;}
#content-info {float: left;margin-top: 10px;}

#content-company {
  width: 75%;
  float: left;
}

#content-company h2:after,
#content-product h2:after {
  background: transparent url('../images/more.gif') no-repeat 0 0;
  content: "";
  display: block;
  height: 13px;
  width: 38px;
  float: right;
  margin-top: 5px;
}
#company {margin-top: 10px;}
#company:before {background: transparent url('../images/company.jpg') no-repeat 0 0;content: "";display: block;height: 160px;width: 300px;float: left;margin: 8px 20px 10px 0;}
#content-other {float: right;width: 20%;}
#other{margin-top: 10px;}
#other li{margin-left: 20px;}
#other a {font-size: 13px;}
#content-product {float: left;width: 100%;margin-top: 10px;}
#product {float: left;width: 100%;margin-top: 10px;}
#product img {  width: 180px;  height: 150px;}
#product > div {float: left; margin: 0 auto;width: 100%;}
#product > div div {float: left; margin: 0 35px;}
#product > div div p {  line-height: 35px;  text-align: center;}
#product a {font-size: 16px;}