* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-image: url('../images/body-bg.jpg');
  background-position: center top;
}

body {
  font-size: 15px;
  font-family: '微软雅黑' Microsoft YaHei, Arial, serif;
  font-weight: 400;
  min-width: 560px;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

#header {
  padding-top: 20px;
  border-bottom: solid 1px #275da1;
}

#header h1 {
  font-size: 24pt;
  color: #000000;
  margin-bottom: 0.2em;
  width: 540px;
}

.inner {
  position: relative;
  left: 20px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.menu {
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  position: relative;
  height: 30px;
  line-height: 30px;
}

.menu > ul {
  position: relative;
  height: 100%;
  list-style: none;
}

.menu > ul > li {
  float: left;
  width: 100px;
  border-left: 1px solid #FFF;
}

.menu > ul > li:first-child {
	border-left: 0;
}

.menu > ul > li:first-child a {
 color: #FFF;
 background-color: #7a7e80;
}

.menu > ul > li > a {
  display: block;
  text-align: center;
}

.menu > ul > li a:HOVER, 
.menu > ul > li a:ACTIVE {
  color: #FFF;
  background-color: #7a7e80;
}

.childcontent {
  z-index: 1;
  margin-top: 8px;
  width: 150px;
  background: #6c7072;
  position: absolute;
}

.childcontent:before{
  background: transparent url('../images/menu_arrow.png') no-repeat 0 0;
  content: "";
  display: block;
  height: 8px;
  margin-top: -8px;
}

.childcontent > ul {
  height: 100%;
}

.childcontent > ul > li {
  border-top: 1px solid #7a7e80;
  margin: 0;
  list-style: none;
}

.childcontent > ul > li a {
	font-weight: bold;
	margin-left: 10px;
	color: #dadada;
}

.childcontent > ul > li:HOVER {
	padding-left: 20px;
}

.childcontent > ul > li:HOVER > a {
	color: #FFF;
}

#content-wrapper {
  background-color: #FFFFFF;
  height: 900px;
}

.display {display: none;}

.white {color: #FFF; background-color: #7a7e80;}

#content-imgs {margin: 20px 25px;float: left;width:950px;height:400px;overflow:hidden;position:relative;}
#content-imgs img {border:0;width: 950px;height: 400px;}
#content-imgs ul{width: 100%;height: 100%;position:absolute;}
#content-imgs ul li{float:left;width: 950px;height: 400px;overflow:hidden;position:relative;background:#000;}
#content-imgs ul li div{position:absolute;overflow:hidden;}
#content-imgs .btnBg{position:absolute;width:950px;height:20px;left:0;bottom:0;background:#000;}
#content-imgs .btn{position:absolute;width:780px;height:10px;padding:5px 10px;right:0;bottom:0;text-align:right;}
#content-imgs .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
#content-imgs .btn span.on{background:#fff;}
#content-imgs .pre{left:0;}
#content-imgs .next{right:0;background-position:right top;}
